{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name.lower }}</title>
    <link rel="stylesheet" href="{% static 'knowledge/styles.css' %}">
</head>
<body>
    <h1>{{ topic.name }}</h1>
    <p>{{ topic.description }}</p>
    <h3>Related Topics: </h3>
    {% for topic in related_topics %}
        <h3>
            <a href="{% url 'knowledge:detail' slug=topic.slug %}">{{topic.name}}</a>
        </h3>
    {% endfor %}
    {% if request.user == topic.owner or request.user.is_superuser %}
        <form action="{% url 'knowledge:delete_topic' slug=topic.slug %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete Topic</button>
        </form>

        <form action="{% url 'knowledge:edit_topic' slug=topic.slug %}" method ="post">
            {% csrf_token %}
            <button type="submit">Edit Topic</button>
        </form> 
    {% endif %}

    <h2>Created By: {{ topic.owner }}</h2>
</body>
</html>