{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'knowledge/styles.css' %}">
</head>
<body>
    <p>Welcome to the Knowledge Graph Engine!</p>

    <h2>Available Knowledge Topics:</h2>
    <ul>
        {% for item in items %}
            <li>
                <a href="{% url 'knowledge:detail' item.slug %}">{{item.name|capfirst}}</a>
            </li>
        {% endfor %}
    </ul>

    
    <form action="{% url 'knowledge:add_topic' %}" method="post">
        {% csrf_token %}
        <button type="submit">
            Add Topic</form>
        </button>
    </form>
    
</body>
</html>