h1{
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 0.5em;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 1em;
}

h2{
    font-size: 2em;
    color: #444444;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a{    list-style-type: disc;
    list-style-type: disc;
    margin-left: 20px;
    color: #cb3f3f;
}

